.warp {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

header {
  height: 80px;
  padding: 12px 0;
  margin-bottom: 25px;
  box-sizing: border-box;
}

.header-inner {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  gap: 48px;
  font-size: 20px;
  font-weight: 700;
  padding-left: 48px;
  /* padding-bottom: 8px; */
  transition: all 0.5s;

  > li:hover {
    color: #ff8000;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.headerButtonContainer {
  display: flex;
  margin-left: auto;
  gap: 5px;
}

.headerButtonContainer button {
  cursor: pointer;
}

.search {
  background-image: url("../assets/images/search.svg");
  margin-right: 7px;
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  background-color: white;
  border: 0px;
}

.make {
  background-color: #fff;
  color: #ff8000;
  font-size: 14px;
  border-radius: 8px;
  padding: 3px 10px;
  font-weight: 500;
  border: 1.5px solid;
}

.filterContainer {
  display: flex;
  height: 30px;
  margin-bottom: 25px;
}

.filterList {
  display: flex;
  width: fit-content;
  gap: 10px;
  margin-right: 10px;
}

.filterList li {
  display: flex;
  align-items: center;
  gap: 4px;
  width: fit-content;
  font-size: 14px;
  color: #333;
  padding: 10px 15px;
  border-radius: 18px;
  border: 1px solid rgb(219, 219, 219);
  cursor: pointer;
}

.filterList li.active {
  color: #ff8000;
  border: 1px solid #ff8000;
}

.resetButton {
  /* margin-left: auto; */
  background-color: #fff;
  font-size: 14px;
  color: #333;
  padding: 10px 15px;
  border-radius: 18px;
  border: 1px solid rgb(219, 219, 219);
  line-height: 0;
  cursor: pointer;
}

.communityBoxs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px 20px;
  width: 100%;
}

.box {
  width: 285px;
  display: flex;
  flex-direction: column;
}

.imageContainer {
  position: relative;
  margin-bottom: 10px;
  aspect-ratio: 4 / 3;
}

.likeButton {
  background-image: url("../assets/images/like.svg");
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  width: 33px;
  height: 30px;
  z-index: 1;
}

.likeButton.active {
  background-image: url("../assets/images/like2.svg");
}

.imageContainer img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  inset: 0px;
  object-fit: cover;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.area {
  font-size: 16px;
  font-weight: 320;
}

.title {
  font-weight: 500;
  font-size: 18px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 1.4;
}

.date {
  color: gray;
  font-size: 15px;
}
